#title {
    color: #fff;
    background-color: #ff4c68;
    /* height: 600px; */
}



body {
    font-family: 'Montserrat', sans-serif;
    /* text-align: center; */
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    padding-bottom: 3%;
}

h2 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: black;
}

.container-fluid {
    padding: 3% 15% ;

}

/* Navigation Bar  */
.navbar {
    text-align: left;
    font-size: 1.5rem;
    padding: auto 0px;
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    padding-left: 0px;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.download-btn {
    margin: 5% 3% 5% 0%;
}

.dog-container{
    position: relative;
}


.dog-image {
    /* box-sizing: initial; */
    width: 60%;
    position: absolute;
    margin-left: 10%;
    /* right: 10%; */
    /* right: 0px; */
    /* text-align: left; */
    transform: rotate(25deg);
}

/* Feature section  */

#features i {
    margin-bottom: 1rem;
    color: #ef8172;
}

#features {
    position: relative;
    /* z-index: 1;  */
    background-color: #fff;
    padding: 7% 15%;
    text-align: center;
    color: #8f8f8f;
}

#features i:hover {
    color: #ff4c68;
}

/* Testimonial seciton  */
#testimonials {
    
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.carousel-item{
    padding: 7% 15%;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

#press img {
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing  */
#pricing{
    text-align: center;
    padding: 7% 15%;
}
.card-footer .btn{
    border: none;
    /* opacity: 0; */
}

@media (max-width: 1068px) {
    #title{
        text-align: center;
    }
    .dog-image{
        /* width: 40%; */
        position: static;
        transform: rotate(0);
        /* border-radius: 100%; */
    }

}

/* cta  */
#cta{
    background-color: #ff4c68;
    padding: 7% 15%;
    /* margin: 3%; */
    color: #fff;
    text-align: center;

}


#cta h3{
    color: #fff;
    font-size: 3.5rem;
}

#footer{
    padding: 5%;
    text-align: center;
    color: #8f8f8f;
}

#footer i{
    color: initial;
    padding: 2% 3px 1%;
}